<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> CV, Muhammed Ali Siddiqui</title>
  </head>
  <body>
    
      <div class='col-12 mx-auto row border'>
        <!-- Personal Info -->
        <div class="card col-3 mt-5 mb-5" style="width: 18rem; ">
          <img class="card-img-top" src="alidp.jpg" alt="Card image cap">
            
          <!-- Profile -->
            <div>
            <h5 class='pl-0 text-primary'  >Profile:</h5>
              <div class=' pl-20 ml-20 '>
                  <p class="card-text ">Detail-oriented, responsible and a committed computer science student, with a get-it-done, on-time and high quality product spirit. As a programmer, simulated client-server architecture and developed micro programs to improve efficiency and quality of data management for different NGOs. Looking forward to opportunities to enhance my skills. </p>
          
              </div>
            </div>
              <!-- Contact -->
            <div>
            <h5 class='pl-0 text-primary mt-4'  >Contact:</h5>
            <p class='pb-0 mb-0'>
              <b>Phone: </b> 0334-1895266
            </p>
            <p class='pb-0 mb-0'>
              <b>Email: </b> alisiddiqui448@gmail.com
            </p>
            <p>
              <b>LinkedIn: </b> alisiddiqui-mas
            </p>
            </div>
            <!-- CO-CURRICULAR ACTIVITIES -->
            <div> 
              <h5 class="pl-0 text-primary mt-4">CO-CURRICULAR ACTIVITIES:  </h5>
              <ul class='pl-4'>
                <li>Executive Director (ProBattle'19)</li>
                <li>Volunteer at Saving a life (NGO) </li>
                <li>Director IT (ProBattle 2018)</li>
                <li>Volunteer at Al-Zohra (NGO) </li>
                <li>Organizer (ProBattle 2017)</li>
              </ul>
              
            </div>
        </div>
        <!-- Academic -->
        <div class="card col-6 mt-5 mb-5 ">
          <h4>EDUCATION:</h4>
          <hr>
          <!-- EDUCATION -->
          <section>
            <h6 class='pb-0 mb-0'><strong>IBA (Institute of Business Administration) BsCS</strong></h6>
            <p class='pb-0 mb-0'><small> 2016-2020 </small></p>
            <h6 class='pb-0 mb-0'><strong>DJ Science College</strong></h6>
            <p > <small>2014-2016 </small></p>
            <h6 class='pb-0 mb-0'><strong> Karachi Public School  O'levels</strong></h6>
            <p > <small>2012-2014 </small></p>
          </section>

          <h4>COMPUTER PROFICIENCY:</h4>
          <!-- COMPUTER PROFICIENCY -->
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col">Languages</th>
                <th scope="col">Front-End Development</th>
                <th scope="col">Back-End Development </th>
              </tr>
            </thead>
            <tbody>
             
              <tr>
                <td>PYTHON</td>
                <td>REACT</td>
                <td>NODE</td>
              </tr>
              <tr>
                <td>JAVA</td>
                <td>ANGULAR</td>
                <td>DJANGO</td>
              </tr>
              <tr>
               <td>C</td>
                <td>HTML/CSS/Bootstrap4</td>
                <td>ASP.NET</td>
              </tr>

            </tbody>
          </table>

          <h4>WORK EXPERIENCE:</h4>
          <hr>
          <!-- Work EXP -->
          <section>
            <!-- Vector Health -->
            <div>
              <p  class='pb-0 mb-0'>
                <strong>Vector health</strong>
                <small> Apr'20-Jun'20</small>
              </p>
              <p class='pb-0 mb-0'>
                <strong class='pb-0 mb-0'>Role:</strong>
                <small class='pb-0 mb-0'>             
                  <p class='pb-0 mb-0'>1- Responsible for testing and quality assurances of the  dashboards.</p>
                  <p class='pb-0 mb-0'>2- Developed EZLoader module for the organization. A pipeline connecting different mediums like gdrive and email to the server. Purpose of this was to gather files and data from client and store it on the organizations server. </p>

                </small>
              </p>
            </div>
            <!-- Ebike.pk -->
            <div>
              <p  class='pb-0 mb-0'>
                <strong>Ebike.pk</strong>
                <small> Jan'20-Apr'20</small>
              </p>
              <p class='pb-0 mb-0'>
                <strong class='pb-0 mb-0'>Role:</strong>
                <small class='pb-0 mb-0'>             
                  <p class='pb-0 mb-0'>1- Responsible for content writing and social media marketing campaigns</p>
                  <p class='pb-0 mb-0'>2- Developed a sms marketing application for the organization. </p>
                  <p class='pb-0 mb-0'>3- Worked alongside the team on the ebike.pk website.  </p>

                </small>
              </p>
            </div>
            <!-- Mazen -->
            <div>
              <p class='pb-0 mb-0'>
                <strong>Mazen ltd</strong>
                <small> Jun'19-Auug'19</small>
              </p>
              <p class='pb-0 mb-0'>
                <strong class='pb-0 mb-0'>Role:</strong>
                <small class='pb-0 mb-0'>             
                  <p class='pb-0 mb-0'>1- Worked alongside the team on the project from gathering Business requirements to deployment of the application on the client side.</p>
                </small>
              </p>
            </div>

          </section>


        </div>
      </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>